<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Alertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" color="secondary" (click)="alert()"> Alert</ion-button>
  <ion-button expand="block" color="secondary" (click)="multipleButtons()">Multiplos Alert</ion-button>
  <ion-button expand="block" color="secondary" (click)="confirm()">CONFIRM</ion-button>
  <ion-button expand="block" color="dark" (click)="prompt()">Prompt</ion-button>


</ion-content>
