<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>ProgressBar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <h2>Processando 10%</h2>
<ion-progress-bar value="0.1"></ion-progress-bar>
<br>
<h2>Processando 50%</h2>
<ion-progress-bar color="danger" value="0.5"></ion-progress-bar>
<br>
<h2>Processando type = "indeterminate"</h2>
<ion-progress-bar color="dark" type="indeterminate"></ion-progress-bar>
<br>
<h2>Processando type = "indeterminate" reversed=true</h2>
<ion-progress-bar color="dark" type="indeterminate" reversed="true"></ion-progress-bar>

</ion-content>
