<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Input Default:</p>
<ion-input></ion-input>

<p>Input com value:</p>
<ion-input color="primary" value="1234"></ion-input>

<p>Input com placeholder:</p>
<ion-input color="primary" type="text" placeholder="Nome aqui"></ion-input>

<p>Input com value:</p>
<ion-input color="primary" value="1234"></ion-input>

<p>Input com ícone de limpar:</p>
<ion-input color="primary" clearInput value="curso Ionic 5"></ion-input>

<p>Input com valor numérico:</p>
<ion-input color="primary" type="number" value="1234"></ion-input>

<p>Input com valor EMAIL:</p>
<ion-input color="primary" type="email" placeholder="Informe seu email"></ion-input>

<p>Input com valor Celular:</p>
<ion-input color="primary" type="tel" placeholder="Informe seu celular"></ion-input>

<p>Input com valor Url:</p>
<ion-input color="primary" type="url" placeholder="Informe a url"></ion-input>

<p>Input search:</p>
<ion-input color="primary" type="search" placeholder="Busque aqui"></ion-input>

<p>Input com valor PASSWORD:</p>
<ion-input color="primary" type="password" placeholder="Informe sua senha"></ion-input>

<ion-item>
  <ion-label>Sem posição:</ion-label>
  <ion-input placeholder="Informe seu nome"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Floating IMPORTANTE!!</ion-label>
  <ion-input placeholder="Informe seu nome"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="fixed">Fixed</ion-label>
  <ion-input placeholder="Informe seu nome"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Stacked</ion-label>
  <ion-input placeholder="Informe seu nome"></ion-input>
</ion-item>



</ion-content>
